/gpt-j-6b-main/Finetune_GPTNEO_GPTJ6B-main/finetuning_repo/finetuned/checkpoint-100/
/gpt-j-6b-main/Finetune_GPTNEO_GPTJ6B-main/finetuning_repo/finetuned/checkpoint-300/
/gpt-j-6b-main/Finetune_GPTNEO_GPTJ6B-main/finetuning_repo/finetuned/checkpoint-400/
/gpt-j-6b-main/Finetune_GPTNEO_GPTJ6B-main/finetuning_repo/finetuned/pytorch_model.bin
